body{
    display:flex;
    flex-direction:column;
    margin: 0;
}

/*header*/

.header{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-content: center;
    padding:10px;
    
    background-color: rgb(255, 254, 254);
    color:rgb(20, 88, 46);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:800
}

.header ul{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    width:500px;
    list-style-type: none;
    font-size:18px;
    font-size: 18px;
    color: black;
    font-weight:100;
}

.header a{
    color:black;
    text-decoration: none;
    display:flex;
    justify-content: center;
    
}

/*intro*/

.intro{
    /*border:5px solid red;*/
    display:flex;
    justify-content: center;
    gap:40px;
    align-items: center;
    width:1000px;
    height: 500px;
    margin:auto;
    background-color: rgb(255, 254, 254);
}

.intro .heading{
   /*border: 5px solid red;*/
    margin-left: 0s;
    height: 200px;
    width:350px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

        .heading h2{
            font-size:45px;
            margin: 0%;
            text-align: center;
        }

        .heading p {
            text-align:center;
            font-size: 17px;
        }

.intro .placeholder{
    border-radius:15px;
    margin-right: 10px;
    height: 400px;
    width:600px;
    padding:0;
    display:flex;
    
}

.email{
    display:flex;
    justify-content: center;
    gap:100px;
    background-color: rgb(20, 88, 46);
    padding-top: 20px;
    padding-bottom: 20px;
}

.left-email{
    display:flex;
    flex-direction: column;
    width: 300px;
}

.left-email p{
    margin:5px;
    text-align:center;
    font-size:20px;
    color: rgb(255, 254, 254);
}

.right-email{
    display:flex;
    text-align:center;
}

.email-fill{
    display:flex;
    flex-direction:row;
    align-items: center;
    font-size: 18px;
    gap:10px;
}

.email-fill label{
    color:rgb(255, 254, 254)
}